@{
    ViewData["Title"] = "Home Page";
}

@model List<LOFI.Data.Product>
<ul>
    @foreach (var p in Model)
    {
        @*<li>@p.Name</li>*@
    }


</ul>


    @foreach(var p in Model)
    {
        <div class="product-info">
            <img src="assets/images/@p.CategoryId" alt="iphone12w" title="product" />
            <h2>@p.Name</h2>
            <div class="add"><span>@p.Description</span><a href="#">Add To Cart</a></div>
            <div class="add-to-list ">
                <ul>
                    <li><a href="#">Add To Wish List</a></li>
                    <li><a href="#">+ Add To Compare</a></li>
                </ul>
            </div>
        </div>
    }

    @*<div class="product-info last-p">
        <img src="assets/images/ipod-tuch.jpg" alt="ipod-tuch" title="product" />
        <h2>IPhone 5G</h2>
        <div class="add"><span>$54.123.00</span><a href="#">Add To Cart</a></div>
        <div class="add-to-list ">
            <ul>
                <li><a href="#">Add To Wish List</a></li>
                <li><a href="#">+ Add To Compare</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="product-des">
    <div class="product-info">
        <img src="assets/images/lapy-t.jpg" alt="lapy" title="product" class="lapy" />
        <h2>lAPTOP DV3</h2>
        <div class="add"><span>$2.156.00</span><a href="#">Add To Cart</a></div>
        <div class="add-to-list blank">
            <ul>
                <li><a href="#">Add To Wish List</a></li>
                <li><a href="#">+ Add To Compare</a></li>
            </ul>
        </div>
    </div>
    <div class="product-info">
        <img src="assets/images/g-camera.jpg" alt="g-camera" title="product" class="lapy" />
        <h2>Galaxy Camera</h2>
        <div class="add"><span>$2.156.00</span><a href="#">Add To Cart</a></div>
        <div class="add-to-list ">
            <ul>
                <li><a href="#">Add To Wish List</a></li>
                <li><a href="#">+ Add To Compare</a></li>
            </ul>
        </div>
    </div>
    <div class="product-info last-p">
        <img src="assets/images/dbl-phone.jpg" alt="dbl-ipad" title="product" class="d-phone" />
        <div class="rotatebg">&nbsp;</div>
        <div class="newrotate">New!</div>
        <h2>Htc Evo 4G</h2>
        <div class="add"><span>$2.156.00</span><a href="#">Add To Cart</a></div>
        <div class="add-to-list ">
            <ul>
                <li><a href="#">Add To Wish List</a></li>
                <li><a href="#">+ Add To Compare</a></li>
            </ul>
        </div>
    </div>*@
</div>